<h1>Contact</h1>
<p class="supertiny">&nbsp;</p>
<table cellpadding="3">
	<tr>
		<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
		<td>Brandon Yee</td>
	</tr>
	<tr>
	<td>Email:</td>
		<td><%= mail_to("bjyee@andrew.cmu.edu", "Brandon Yee", :encode => "javascript") %></td>
	</tr>
</table>